body {
  background-color: rgb(220, 220, 233);
}
/* header */
header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(58, 54, 34);
}

.headingnm {
  background-color:cornflowerblue;
}

header nav ul  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  
}
header nav ul li {
  padding: 0 15px;
  

  
}
nav a {
  text-decoration: none;
  font-size: 30px;
}

header nav ul li::before
{
  color: beige;
}

span  {
  color: cornflowerblue;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(58, 54, 34);
}

a:hover 
{
  background-color: rgb(255, 255, 0);
}

.tab-css{
  color: rgb(114, 146, 204);
}

/* ======================================= */
.title {
  color: rgb(90, 126, 194);
  font-size: 45px;
  font-weight: bold;
}

.title-info {
    color: rgb(83, 122, 194);
    font-size: 50px;
    font-weight: bold;
   
}

.paragraph-descrption {
  color: rgb(8, 7, 1);
  font-size: 25px;
  font-weight: bold;
 
}

/* end of header */


.my-info-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-right: 40px;
  
} 
.main-content { 
  margin-bottom: 0px; 
  margin: 0 30px; 
} 

.my-info-container p {
  padding-right: 200px;
  padding-left: 20px;
  font-size: 40px;
 

}

.my-info-container >h2 {
  flex: 0 0 15%;
  border-right: thick solid cornflowerblue;   
  
}

.my-info-container p .languages {
  font-size: 35px;
}


.my-info-container a {
  text-decoration: none;
}




.soccer-finder {
  background-image: url("../../portfolio/src/assets/projects/pick-a-kick.jpg");
  width: 350px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid cornflowerblue 8px;
  border-radius: 10%;
  opacity: 0.9;
}
.soccer-finder:hover {
  opacity: 1.0;
}

/* .runbuddy {
  background-image: url("../images/RB-hero.jpg");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid cornflowerblue 8px;
  border-radius: 10%;
  opacity: 0.9;
}
.runbuddy:hover {
  opacity: 1.0;
}
.runbuddy h3 {
  text-decoration: none;
} */

/* .horiseon {
  background-image: url("../images/Horiseon.jpg");
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid cornflowerblue 8px;
  border-radius: 10%;
  opacity: 0.9;
}
.horiseon:hover {
opacity: 1.0;
}

.portfolio {
  background-image: url("../images/portfolio.png");
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid cornflowerblue 8px;
  border-radius: 10%;
  opacity: 0.8;
}
.portfolio:hover {
  opacity: 1.0;
}
.workrb {
  color: rgb(246, 250, 16);
  font-size: 25px;
  font-weight: bold;
}
.workhr {
  color: rgb(12, 42, 46);
  font-size: 25px;
  font-weight: bold;
}
.workme {
  color: rgb(18, 248, 198);
  font-size: 25px;
  font-weight: bold;
} */


.resume-list{
  font-size: large;
}


/* footer */
footer {
text-align: center;
font-size: 25px;
background-color: cornflowerblue;
position: fixed;
left: 0;
bottom: 0;
width: 100%;

}

.wrap{
  display: inline-flex;
  justify-content:space-around ;
}




/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* @media screen and (max-width: 980px) {
.runbuddy {
   height: 180px;
}   
.horiseon {
      height: 160px;
}
.portfolio {
  height: 160px;
}
.my-info-container p {
  font-size: 40px;
}
} */
/*  MEDIA QUERY FOR TABLETS AND SMALLER */ 
/* @media screen and (max-width: 768px) {
  .runbuddy {
      height: 220px;
 }   
 .horiseon {
         height: 200px;
 }
 .portfolio {
     height: 200px;
 }

} */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (max-width: 575px) {
  .runbuddy {
      height: 250px;
 }   
 .horiseon {
         height: 230px;
 }
 .portfolio {
     height: 230px;
 }
} */